.rdp {
  --rdp-cell-size: 32px;
  --rdp-caption-font-size: 17px;
  --rdp-background-color: rgba(255, 255, 255, 0.2);
  --rdp-accent-color: #7551ff;

  @apply m-1;
  font-size: 85%;
}

.datepicker {
  position: absolute;
  top: 0;
  right: -1;
  opacity: 30%;
  transition: opacity 0.3s;
}
.datepicker:hover {
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .datepicker {
    right: 0.25rem;
  }
}
