.aside {
    background-color: rgb(20 21 21 / var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    border-right-color: rgba(255, 255, 255, .12);
    border-right-width: 1px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.header {
    font-weight: 700;
    font-size: 1.8rem;
    position: relative;
    padding-right: 1rem;
}

.logo {
    padding: 1.4rem 0.7rem;
    border-bottom-color: rgba(255, 255, 255, .12);
    border-bottom-width: 1px;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1.5rem;
}

.footer {
    opacity: 0.4;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.4rem;
}

@media screen and (max-width: 500px) {

    .aside {
        padding-top: 0.4rem;
    }

    .header {
        display: none;
    }

    .menuItem {
        display: none;
    }

    .footer {
        display: none;
    }
}
